<h2><%= @video.title %></h2>

<div style="margin: 20px 50px 0 0;">
<video id="video-<%= @video.panda_video_id %>" class="video-js vjs-default-skin" controls
  preload="auto" width="640" height="360" poster="<%= @h264_encoding.screenshots.first %>"
  data-setup="{}">
  <source src="<%= @h264_encoding.url %>" type='video/mp4' />
  <source src="<%= @webm_encoding.url %>" type='video/webm' />
</video>
</div>

<h3 style="margin-top: 50px;">Osadź na zewnętrznej stronie internetowej</h3>
<textarea style="width: 600px; height: 50px;"><iframe src="<%= url_for(:controller => 'videos', :action => 'embed', :id => @video.id, :only_path => false) %>" style="width: 640px; height: 360px;" frameborder="0" allowFullScreen="true"></iframe></textarea>

<div style="clear: both;"></div>

